@{
    ViewBag.Title = "Home Page";
}

<div class="d-row">
    <div class="d-column logo-bg">
        <div class="logo">
            @Html.Partial("_svgLogo")
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container">
            <div class="jumbotron">

            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="container welcome">
            <h2 class="text-primary">Welcome, to Alec Gillanders Studios</h2>
            <div class="welcome-text">
                <h4 class="text-primary">
                    This is my creative place, where I can share my projects both personal and professional.
                    I am mainly a web developer working for the NHS building apps that make NHS staff lives easier and quicker.
                    The rest of my work are personal projects, which i do in my spare time. These are mostly digital paintings, using a graphics tablet and photoshop.
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="d-row">
    <div class="d-column">
        <div class="info-panel">
            <div class="container">
                <div class="col-sm-4">
                    <a href="@Url.Action("Portfolio", "Home")">@Html.Partial("_PortfolioIcon")</a>
                    <h2>Portfilo</h2>
                    <p class="info-text">
                        A collection of my personal digital art ranging
                        from portrait to animals.
                    </p>
                </div>

                <div class="col-sm-4">
                    <a href="@Url.Action("WebDesign", "Home")">@Html.Partial("_WebIcon")</a>
                    <h2>Web Design</h2>
                    <p class="info-text">
                        Starting with some personal training websites for learning to 
                        large team based projects for NHS Devon.
                    </p>
                </div>

                <div class="col-sm-4">
                    <a href="@Url.Action("GraphicDesign","Home")">@Html.Partial("_GraphicIcon")</a>
                    <h2>Graphic Design</h2>
                    <p class="info-text">
                        To support the web based projects for NHS Devon
                        I have created logos and various other graphical content, 
                        such as pens and leaflets to support project launch.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>