@using AGstudios.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}

<div class="login-header"></div>
<div class="signin-body">
    <div class="d-row voffset3">
        <div class="d-column">
            <div class="container">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="signin-box">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h2 class="login-title">Please Sign In</h2>
                            <hr class="colorgraph">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                                <div class="login">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { placeholder = "UserName", @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <div class="login">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { placeholder = "Password", @class = "text-danger" })
                                </div>
                            </div>

                            <span class="button-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "text-muted" })
                            </span>
                            <hr class="colorgraph">
                            <div class="">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-sm-offset-3">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
}