<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AGstudios</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <h1 class="pull-left">AG-Studios</h1>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbarCollapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("AGstudios", "Index", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>
                    <li>@Html.ActionLink("WebDesign", "WebDesign", "Home")</li>
                    <li>@Html.ActionLink("GraphicDesign", "GraphicDesign", "Home")</li>
                    <li>@Html.ActionLink("RSVP", "Index", "Rsvp")</li>
                    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                    <li>@Html.ActionLink("People", "Index", "People")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="d-page">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

